h1 {
  color: green;
  font-family:'Hanalei Fill', cursive;
}

div {
  text-align:center;
}

h3 {
  font-family:'Hanalei Fill', cursive
}

p {
  padding: 1%;
  margin: 1%;
  border: 2px solid red;
  font-family:'Oswald', sans-serif;
}

.w-20 {
Width: 20%
}

.w-30 {
  Width:30%
}

.w-40 {
  Width: 40%
}

.special-p {
  color:blue;
  font-family:'Ruslan Display'
}

.jumbotron {
  background-color:orange

}

.borderand30 {
border:8px solid blue;
width="30%"
}
